html{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    font-family: "Titillium Web", Arial, sans-serif;
    background-color: #fefdfd;                                       
    text-decoration: none;
}


.nav-link{
    color: white !important;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: medium !important;
}

.hero-content h1{
    font-size: 321.5%;
}
.hero-img{
    padding-top: 2%;
    padding-right: 10%;
    height: 60%;
    width: 110%;
}

@media only screen and (max-width: 766px) {
    .hero-img {
      display: none;
    }
}

.get-started{
    padding: 1rem 2rem;
    font-size: 160%;
    background: #97f2ef;
    color: black;
    transition: 0.3s;
}
.get-started:hover{
    text-decoration: none;
    color:#d63f3f !important;
}

.get-started:hover{
    text-decoration: none;
    color: black;
}
.foot{
    margin-top: 12px;
    padding: 25px 0;
    background-color: #05c4ad;
}

.container{
    
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
}

.bottom{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: flex;
    align-items: center;
}

.text{
    text-align: right;
    color: #000000;
}

.title{
    font-size: 100%;
    color: #101010;
    text-align: left;
    float: left;
}
